body {
    background-color:none;
}

.image-content > img {
    max-width: 200px;
}

#header{
    width:100%;
    background-color: goldenrod;
    margin-bottom:0;
    text-align: center; 
    position:relative;
    transform: translateY(50%)
}

#nav {
   margin:0; 
    width: 100%;
    background-color: black;
    min-height: 80px;
    font-family: 'Lato' sans-serif;
    height: auto;
}

#nav > ul{
  text-align: center;
    transform: tanslateY(50%);
    padding: 0;
    margin: 0;  
}

#nav >ul >button {
   min-width: 120px;
    color: white;
    background-color: orange;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s; 
    
}
#nav >ul >button:hover {
   background-color: darkorange; 
    
}

.menu {
    display:flex;
    background:red;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}
#middle-wrapper-width {
 display: flex;
}

#middle-wrapper {
 
}



#main-content-wrapper{
   background-color: greenyellow;
    width:80%
  }

#aside-content-wrapper {
  background-color: plum;
    width:20%
        
}

footer { 
    background-color:aquamarine;
    margin:0;
}

footer > h1 {
    margin: 0;
    }